<h1>Add a new message</h1>
<form method="POST" action="/new">
  <label for="messageUser">
    Username:
    <input type="text" name="messageUser" id="messageUser" /> </label
  ><br />
  <label for="messageText">
    Message:
    <input type="text" name="messageText" id="messageText" /> </label
  ><br />
  <button type="submit">Submit</button>
</form>
